
*{
    padding: 0px;
    margin: 0px;
}


#header{
    border: solid black;
    height: 100px;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav{
    border: solid black;
    height: 100px;
    width: 100%;
    color: rgb(22, 22, 22);
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box1{
    display: inline-block;
    height: 400px;
    width: 58%;
    

}
.box2{
    display: inline-block;
    height: 400px;
    width: 40%;
    margin: 5px;
   
}

#section{
    border: solid black;
    height: 200px;
    width: 100%;
    color: rgb(20, 20, 20);
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#article{
    border: solid black;
    height: 200px;
    width: 100%;
    color: rgb(26, 25, 25);
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#aside{
    border: solid black;
    height: 415px;
    width: 100%;
    color: rgb(27, 27, 27);
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    position: relative;
    bottom: 215px;
    left: 18px;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#footer{
    border: solid black;
    height: 100px;
    width: 100%;
    color: rgb(19, 18, 18);
    text-align: center;
    font-size: 50px;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    bottom: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}